
a {
  text-decoration: none;
  color: #979797;
}

/* W3C standard
   сейчас только для Firefox */

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  margin-left: 50px;
  width: 1px;
}
*::-webkit-scrollbar-track {
  background: #8a4ea7;
}
*::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}
