.sectionLayout {
  height: 100vh;
  width: 85%;
  //background-image: url('../../../assets/bg.png');
  background-image: url('../../../assets/png/bgArtist.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.mainLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.baseLayout {
  display: flex;
  justify-content: space-between;
}
