.authBlock {
  position: absolute;
  right: 60px;
  height: 35px;
  border-radius: 31px;
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 8px 0px 10px;
  @media screen and (max-width: 1400px) {
    right: 10px;
  }
}

.signUpButton {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid rgba(66, 187, 46, 0.51);
  border-radius: 31px;
  background: none;
  color: #ffffff;
  font-style: italic;
  font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 7px);
  margin-left: 15px;
}

.signInButton {
  font-style: italic;
  font-weight: 400;
  font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 7px);
  border: none;
  background: none;
  color: #ffffff;
}
