.auditionCounterWrapper {
  display: flex;
  align-items: end;
  margin-left: 10px;
  position: relative;
  color: #979797;
}
.headphonesIcon {
  position: absolute;
  bottom: -1px;
  right: -23px;
}

.auditionCounter {
  cursor: default;
}
