.authorMainPageWrapper {
  border-radius: 10px;
}

.navBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;

  &:before {
    content: ' ';
    height: 1px;
    width: calc(100% - 60px);
    bottom: -10px;
    background: #979797;
    position: absolute;
  }
}

.navLink {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 15px);
  color: #adadad;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.65);
}

.navLinkActive {
  font-style: normal;
  font-weight: 500;
  margin: 0 60px 0 60px;
  color: #ffffff;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.65);
  text-decoration: none;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 15px);
  position: relative;

  &:before {
    content: ' ';
    height: 3px;
    width: 100%;
    bottom: -10px;
    background: #2eeb2a;
    position: absolute;
  }
}
