.trackItem {
	display: flex;
	margin-bottom: 20px;
}

.trackCover {
	width: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 35px);
	height: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 35px);
}

.nameWrapper {
	display: flex;
	flex-direction: column;
	padding-left: 12px;
	justify-content: flex-end;
}

.authorName {
	margin-bottom: 4px;
	font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
	color: white;
	@media screen and (min-width: 2000px) {
		font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 4px);
	}
}

.trackName {
	color: #979797;
	font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
	@media screen and (min-width: 2000px) {
		font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 4px);
	}
}
