.layoutWrapper {
  display: flex;
  justify-content: space-between;
  background-image: url('../../../assets/bg/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.bgc {
  position: absolute;
  background: rgba(0, 0, 0, 0.52);
  width: 100vw;
  height: 100vh;
}
