.layoutWrapper {
	display: flex;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	align-items: center;
}
.widgetsWrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.modalWrapper {
	transform: translateY(-18vh);
	width: 732px;
	height: 600px;
	z-index: 10;
	margin: 0 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(151, 151, 151, 0.27);
	justify-content: center;
	box-shadow: -4px 4px 87px 20px rgba(78, 78, 78, 0.15);
	border-radius: 40px;
	@media screen and (max-width: 1400px) {
		width: 470px;
		background-position: center;
	}
}

.bgc {
	position: absolute;
	background: rgba(0, 0, 0, 0.52);
	width: 100vw;
	height: 100vh;
}
