.navBar {
	display: flex;
	margin-top: 40px;
	margin-bottom: 20px;
	position: relative;

	&:before {
		content: ' ';
		height: 1px;
		width: 100%;
		bottom: -10px;
		background: #979797;
		position: absolute;
	}
}

.navLink {
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	margin-right: 60px;
	font-size: calc((100vw - 480px) / (1280 - 480) * (17 - 16) + 16px);
	color: #adadad;
	text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.65);
	&:last-child {
		margin-right: 0;
	}
}

.navLinkActive {
	position: relative;

	&:before {
		content: ' ';
		height: 3px;
		width: 100%;
		bottom: -10px;
		background: #2eeb2a;
		position: absolute;
	}
}