.links {
  display: flex;
  justify-items: center;
  gap: 20px;
  a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 36px;
    color: #979797;
  }
}
.active {
  color: #ffffff !important;
  border-bottom: 1px solid #2eeb2a;
}
