.title {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: calc((100vw - 480px) / (900 - 480) * (17 - 16) + 12px);
  margin-top: 20px;
  margin-bottom: 20px;
}
.playlistSideBar {
  display: flex;
  flex-direction: column;
}
.arrow {
  display: block;
  margin: 0 auto 2px auto;
}
.trackListItem {
  width: 100%;
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}
