
.header {
  color: white;
  text-align: center;
  font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 6px);
  margin-top: 20px;
  margin-bottom: 30px;
}







.arrow {
  display: block;
  margin: 0 auto 10px auto;
}
