.settingBlock {
	padding-top: 20px;
}

.setting {
	display: flex;
	align-items: end;

	img {
		width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
		margin-right: 6px;
	}

	button {
		border: none;
		background: transparent;
		padding: 0;
		cursor: pointer;
		font-weight: 700;
		font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
		color: #979797;
	}
}

.settingList {
	height: calc(100vh / 5);
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid #8a4ea7;
}