.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 20px 0 80px;
  padding: 25px;
  box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.45);
  border-radius: 9px;
  width: calc(100vw / 3.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.48));
  @media screen and (max-width: 1400px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 2000px) {
    padding: 35px;
  }
}

.name {
  font-weight: 700;
  font-size: calc((100vw - 80px) / (900 - 480) * (22 - 16) + 40px);
  color: #ffffff;
  text-shadow: 5px 5px 13px rgba(117, 117, 117, 0.64);
}

.infoBlock {
  display: flex;
  align-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;

  ul {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1300px) {
      margin-left: 15px;
    }
  }

  img {
    width: calc(100vw / 9);
    height: calc(100vw / 9);
    border-radius: 5px;
    @media screen and (min-width: 2000px) {
      width: calc(100vw / 11);
      height: calc(100vw / 11);
    }
  }
}

.info {
  font-weight: 300;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
  color: #979797;

  span {
    color: #ffffff;
  }
}

.about {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;

  p {
    width: calc(100vw / 4);
    font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
    line-height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 5px);
  color: #ffffff;
  text-align: center;
}

.settingBlock {
  padding-top: 20px;
}

.settings {
  display: flex;
}

.settingList {
  height: calc(100vh / 5);
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #8a4ea7;
}

.setting {
  display: flex;
  align-items: end;

  img {
    width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
    margin-right: 6px;
  }

  button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
    color: #979797;
  }
}

.linkMainPage {
  text-decoration: none;
  border: none;
  font-style: italic;
  font-weight: 600;
  background: #610084;
  color: white;
  padding: 15px 30px;
  border-radius: 49px;
  font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 10px);
}
