.rightSideBar {
  background: #000;
  padding-left: 20px;
  height: 100vh;
  width: 250px;
  display: flex;
  z-index: 10;
  box-sizing: border-box;
  flex-direction: column;
}

.displayNone {
  visibility: hidden;
}
