.PlaylistItem {
  display: flex;
  margin-bottom: 20px;
}
.header {
  color: white;
  text-align: center;
  font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 6px);
  margin-top: 20px;
  margin-bottom: 30px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  justify-content: flex-end;
}

.img {
  width: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 35px);
  height: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 35px);
}

.trackName {
  color: #979797;
  font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
  @media screen and (min-width: 2000px) {
    font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 4px);
  }
}
.authorName {
  margin-bottom: 4px;
  font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 6px);
  color: white;
  @media screen and (min-width: 2000px) {
    font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 16) + 4px);
  }
}

.arrow {
  display: block;
  margin: 0 auto 10px auto;
}
