.PlaylistItem {
  display: flex;
  margin-bottom: 20px;
}
.header {
  color: white;
  text-align: center;
  font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 6px);
  margin-top: 20px;
  margin-bottom: 30px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  justify-content: flex-end;
}

.img {
  width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 30px);
  height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 30px);
}

.trackName {
  color: #979797;
  font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 7px);
}
.authorName {
  margin-bottom: 4px;
  font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 7px);
  color: white;
}

.arrow {
  display: block;
  margin: 0 auto 10px auto;
}
