.PlaylistItem {
  display: flex;
  margin-bottom: 20px;
}
.header {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  justify-content: flex-end;
}

.img {
  width: calc( (100vw - 80px)/(900 - 480) * (18 - 16) + 30px);
  height: calc( (100vw - 80px)/(900 - 480) * (18 - 16) + 30px);
}


.trackName {
  color: #979797;
  font-size: calc( (100vw - 80px)/(900 - 480) * (18 - 16) + 4px);
}
.authorName {
  margin-bottom: 4px;
  font-size: calc( (100vw - 80px)/(900 - 480) * (18 - 16) + 4px);
  color: white;
}

.arrow {
  display: block;
  margin: 0 auto 10px auto;
}
