.playlist {


  &__item {
    display: flex;
    margin-bottom: 20px;
  }
  &__header {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: space-between;
  }

  &__trackName {
    color: #979797;

  }
  &__authorName {
    color: white;
  }

  &__arrow {
    display: block;
    margin: 0 auto 10px auto;
  }

}