.uploadFile {
	margin-top: 25px;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #979797;
	border-radius: 6px;

	span {
		font-style: italic;
		font-weight: 500;
		font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 9px);
		color: #979797;
	}

	input {
		display: none;
	}

	button {
		cursor: pointer;
		padding: 10px 8px;
		background: #610084;
		border-radius: 6px;
		font-style: italic;
		font-weight: 600;
		font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 9px);
		color: #ffffff;
		border: none;
	}
}