.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameAlbumBlock {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  color: #ffffff;
}
.nameTrack {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.03em;
}
.nameAlbum {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
}
.date {
  display: inline-block;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.imgAlbum {
  max-width: 220px;
}
.stats {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 16px;
  span {
    margin-right: 4px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #979797;
  }
  svg {
    width: 14px;
    fill: #ffffff;
  }
}
.textBody {
  padding: 35px;
  max-width: 720px;
  width: 100%;
  background: rgba(0, 0, 0, 0.51);
  border-radius: 6px;
  max-height: 430px;
  overflow-y: hidden;
}

.text {
  height: 96%;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #8a4ea7;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  p {
    padding: 25px 0;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.arrow {
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
  margin: 15px auto 0 auto;
  img {
    width: 30px;
  }
}
