.commentsWrapper {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.51);
  border-radius: 7px;
  overflow-y: hidden;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.commentsBody {
  display: flex;
  flex-direction: column;
  height: 79%;
  padding-right: 5px;
  overflow-y: auto;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.commentAuthorWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: end;

  .author {
    color: white;
    display: block;
    font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 5px);
    transform: translateY(-3px);
  }
  .imgAuthor {
    width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 30px);
    margin-right: 5px;
    border-radius: 50px;
  }
}

.commentTextWrapper {
  display: flex;
  align-items: end;

  .commentText {
    font-style: italic;
    font-weight: 400;
    font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 5px);
    line-height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 9px);
    color: #ffffff;
  }

  .time {
    margin-left: auto;
    font-style: italic;
    font-weight: 400;
    font-size: calc((100vw - 480px) / (900 - 480) * (18 - 16) + 6px);
    color: #ffffff;
    white-space: nowrap;
    margin-right: 5px;
  }
}

.likeWrapper {
  transform: translateY(10px);
  display: flex;
  align-items: center;
  .likeIcon {
    width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 8px);
  }
}

.hr {
  margin: 15px 0;
}

.form {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-top: 4px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.input {
  background: #dcdcdc;
  border-radius: 31px;
  padding: 10px 20px;
  border: none;
  margin-right: 15px;
  width: 100%;

  &::placeholder {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
}
