.modalSignUp {
  width: 732px;
  height: 786px;
  z-index: 10;
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/png/bgSignInUp.png');
  box-shadow: -4px 4px 87px 20px rgba(245, 245, 245, 0.15);
  border-radius: 40px;
  @media screen and (max-width: 1400px) {
    background-image: url('../../assets/png/bgSignInUpMedium.png');
    width: 470px;
    height: 786px;
    background-position: center;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    background-color: #fff;
    padding: 20px 35px 40px 35px;

    .headerForm {
      font-size: 35px;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 70px;
      @media screen and (max-width: 1400px) {
        font-size: 30px;
      }
    }

    .inputWrapper {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      position: relative;

      .inputForm {
        border: none;
        width: calc(100vw / 8);
        border-bottom: 1px solid #979797;
        padding: 10px 0 10px 50px;
        @media screen and (max-width: 2000px) {
          width: calc(100vw / 5);
          padding-left: 30px;
        }

        &::placeholder {
          font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 7px);
          color: #979797;
          font-style: italic;
          font-weight: 600;

          letter-spacing: 0.03em;
        }
        &:focus {
          outline: none;
        }
      }

      img {
        position: absolute;
      }
    }

    .questionSignUp {
      display: flex;
      font-style: italic;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: #36435c;
      @media screen and (max-width: 1400px) {
        font-size: 12px;
      }

      a {
        text-decoration: none;
        color: #699cff;
        margin-left: 5px;
      }
    }

    .signUpButton {
      font-style: italic;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: #ffffff;
      background: #610084;
      border-radius: 49px;
      border: none;
      padding: 15px 30px;
      margin-top: 50px;
      @media screen and (max-width: 1400px) {
        font-size: 14px;
      }
    }
  }
}
