.sectionHome {
  height: 100vh;
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainHome {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}