.profileWrapper {
  position: absolute;
  right: 60px;
  height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 30px);
  background: #e0e0e0;
  border-radius: 31px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 0 8px 0 10px;
}

.profileAvatar {
  height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 27px);
}

.profileUsername {
  color: #000000;
  margin-right: 20px;
  margin-left: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}
