.trackListWrapper {
  display: flex;
  margin: 0 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 15px 10px 15px;
  border-radius: 10px;
}

.trackList {
  width: calc(100vw / 3);
}

.trackListItem {
  margin-bottom: 20px;
}