.trackListWrapper {
	display: flex;
	width: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
}

.trackList {
	width: 100%;
	overflow: hidden;
	&:hover {
		overflow: auto;
	}

}

.trackListItem {
	margin-bottom: 20px;
}