.modalWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modalRelease {
  width: 732px;
  padding: 30px 0;
  z-index: 10;
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/png/bgSignInUp.png');
  box-shadow: -4px 4px 87px 20px rgba(245, 245, 245, 0.15);
  border-radius: 40px;
  @media screen and (max-width: 1400px) {
    background-image: url('../../../../assets/png/bgSignInUpMedium.png');
    width: 470px;
    background-position: center;
  }
}
.releaseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  padding: 20px 35px 20px 35px;
}
.titleForm {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
  @media screen and (max-width: 1500px) {
    font-size: 25px;
  }
}
.form {
  width: calc(100vw / 8);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 2000px) {
    width: calc(100vw / 4);
  }
}
.inputCover {
  position: relative;
  max-width: 100%;
  margin-top: 20px;
}
.inputError {
  position: absolute;
  bottom: -15px;
  color: red;
  font-size: 13px;
}
.formInput {
  width: 100%;
  border: none;
  padding: 7px 0 7px 5px;
  border-bottom: 1px solid #979797;
  font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 11px);
  color: #000;
  font-style: italic;
  font-weight: 600;

  &::placeholder {
    font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 11px);
    color: #979797;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
}
.formText {
  width: 100%;
  resize: none;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}
.uploadFile {
  margin-top: 16px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bebebe;
  border-radius: 6px;
  span {
    font-style: italic;
    font-weight: 500;
    font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 9px);
    color: #979797;
  }
  input {
    display: none;
  }
  button {
    cursor: pointer;
    padding: 10px 8px;
    background: #610084;
    border-radius: 6px;
    font-style: italic;
    font-weight: 600;
    font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 9px);
    color: #ffffff;
    border: none;
  }
}
.formButton {
  cursor: pointer;
  margin-top: 30px;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #610084;
  border-radius: 49px;
  border: none;
  padding: 10px 30px;
  &:hover {
    background: #8801b9;
  }
  &:disabled {
    color: #9f9f9f;
    background: #4a0164;
  }
  @media screen and (max-width: 1400px) {
    font-size: 14px;
    margin-top: 50px;
  }
}
.selectBlock {
  margin-top: 15px;
}

// select
.select {
  display: grid;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;

  border: 1px solid #e0e0e0;
  border-radius: 6px;
  height: 47px;
  background: #fff;

  font-style: italic;
  font-weight: 600;
  font-size: calc((100vw - 480px) / (1280 - 480) * (18 - 16) + 11px);
  color: #979797;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 100%;

  &:before {
    content: '';
    height: 31px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;

    //background: -webkit-linear-gradient(#fff, #f0f0f0);
    //background: -moz-linear-gradient(#fff, #f0f0f0);
    //background: linear-gradient(#f5f5f5, #e0e0e0);
    background: #fff; //for Firefox in Android

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
  }

  &:after {
    content: ' ';
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #aaa transparent transparent transparent;
    pointer-events: none;
  }
}
