.formButton {
	cursor: pointer;
	font-style: italic;
	margin-top: 30px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: #eae8e8;
	background: #0134ff;
	border-radius: 49px;
	border: none;
	padding: 10px 30px;

	&:hover {
		background: #0022a3;
	}

	&:disabled {
		color: #969696;
		background: rgba(30, 35, 49, 0.72);

	}

	@media screen and (max-width: 1400px) {
		font-size: 14px;
	}
}

.width {
	width: 200px;
}