.wrapper {
  margin-top: 50px;
  margin-left: 80px;
  padding: 25px;
  box-shadow: 10px 10px 10px 7px rgba(0, 0, 0, 0.45);
  border-radius: 9px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.48));
  @media screen and (max-width: 1000px) {
    margin-left: 30px;
  }
}
.name {
  text-align: center;
  font-weight: 700;
  font-size: calc((100vw - 80px) / (900 - 480) * (22 - 16) + 40px);
  color: #ffffff;
  text-shadow: 5px 5px 13px rgba(117, 117, 117, 0.64);
}
.infoBlock {
  display: flex;
  justify-content: center;
  height: calc(100vw / 12);
  align-content: space-between;
  margin-top: 40px;
  padding-bottom: 20px;
  ul {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1300px) {
      margin-left: 15px;
    }
  }
  img {

    border-radius: 5px;
  }
}
.info {
  font-weight: 300;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
  color: #979797;
  span {
    color: #ffffff;
  }
}
.about {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  p {
    width: calc(100vw / 6);
    font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
    line-height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
  }
}
.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
  color: #ffffff;
  text-align: center;
}
.settingBlock {
  padding-top: 20px;
}
.settings {
  display: flex;
}
.settingList {
  height: calc(100vh / 5);
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #152cfe;
}
.setting {
  display: flex;
  align-items: end;
  img {
    width: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
    margin-right: 6px;
  }
  button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 2px);
    color: #ffffff;
  }
}
