.leftSideBar {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}
.logo {
  width: 180px;
  margin: 20px auto 0 auto;
  @media screen and (max-width: 1900px) {
    width: calc(100vw / 12);
  }
}
