.likeCounterWrapper {
  display: flex;
  align-items: end;
  position: relative;
  margin-left: 40px;
  color: #979797;
}
.likeIcon {
  position: absolute;
  width: 20px;
  bottom: -1px;
  right: -23px;
  cursor: pointer;
}

.likeCounter {
  cursor: default;
}