.navMenu {
  &__list {
    margin-top: 25px;
  }
  &__icon {
    margin-right: 10px;
  }
  &__item {
    text-decoration: none;
    color: #979797;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__link {
    text-decoration: none;
    color: #979797;
    font-weight: 500;
  }
}

.activeLink {
  text-decoration: none;
  color: #979797;
}
