.profileDescriptionWrapper {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #979797;
}
.title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 5px);
	color: #ffffff;
	text-align: center;
}

.profileDescription {
	width: calc(100vw / 4);
	font-size: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 3px);
	line-height: calc((100vw - 80px) / (900 - 480) * (18 - 16) + 10px);
}